<div class="leftContent">
  <%= image_tag "about/about.png" %>
  <p class="aboutTitle">關於捷比</p>
  <ul>
    <li>
      <a class="active" href="about.html">
        關於捷比
      </a>
    </li>

    <li>
      <a href="store.html">
        商家資訊
      </a>
    </li>

    <li>
      <a href="copyright">
        隱私權政策
      </a>
    </li>

    <li>
      <a href="notice.html">
        購物須知
      </a>
    </li>

    <li>
      <a href="qa.html">
        常見問題
      </a>
    </li>
  </ul>
</div>