#content{
    width: 96%;
    padding: 0% 2%;
	max-width: 1200px;
	margin: 100px auto 0 auto;
}
#content aside{
	width: 15%;
	background-color: #EFEFEF;
	padding: 2%;
	display: inline-block;
	vertical-align: top
}
#content article{
    margin-bottom: 15px;
}
#content .right{
	width: 76%;
	padding:0% 1.5% 1.5% 1.5%;
	display: inline-block;
	vertical-align: top
}
#content .rightSubject{
	font-size: 15px;
	font-weight: bold;
	color: #FF91B8;
	transition: all .7s ease;
	padding: 8px 15px;
	display: inline-block;
}

#content .childNav a{
	font-size: 15px;
	font-weight: bold;
	transition: all .7s ease;
	padding: 8px 15px;
	display: block;
}
#content .rightSubject i{
	color: #FF91B8;
	
	
	margin-left: 5px;
}
#content .bread{
	font-size: 14px;
	width: 96%;
    padding:1.5%;
    border: 1px solid #addef8;
	margin:0px auto 20px auto;
}

