/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require admin-lte/bootstrap/css/bootstrap
 *= require rails_bootstrap_forms
 *= require bootstrap-datepicker3
 *= require admin-lte/dist/css/AdminLTE
 *= require admin-lte/dist/css/skins/skin-blue-light
 *= require admin-lte/dist/css/skins/skin-yellow-light
 *= require admin-lte/plugins/iCheck/square/blue.css
 *= require admin-lte/plugins/select2/select2.min.css
 *= require jquery-ui
 *= require pnotify
 *= require jquery.gridster.css
 *= require fancybox
 *= require_tree .
 */

@import "wice_grid";
@import "font-awesome-sprockets";
@import "font-awesome";