// Place all the styles related to the admin/home_grids controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gridster ul li {
  list-style-type: none;
  background-color: lightgrey;
}

.gridster ul li img {
  width: 100%;
  height: 100%;
}

.gridster ul li .btn-remove{
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.gridster ul li .btn-setting{
  position: absolute;
  right: 20px;
  top: 5px;
  cursor: pointer;
}