<%= stylesheet_link_tag 'css/about', :media => 'all' %>
<%= render 'layouts_partial/left_content' %>
<div class="rightContent">
  <article class="bread">
    <a href="/">首頁</a> > <%= link_to "隱私權政策", copyright_sites_path %>
  </article>
  <artile class="aboutCenter">
    <section>
      <h1>※ 關於個人資料保護，請會員詳細閱讀以下</h1>
      <h5>捷比童裝的隱私權聲明</h5>
      <p>
        捷比童裝為 捷比童裝行所經營；為了維護個人隱私權與支持個人資料保護， 捷比童裝謹以下列聲明，向您說明 捷比童裝蒐集個人資料之目的、類別、利用範圍及方式、以及您所得行使之權利等事項； 如果您對於 捷比童裝的隱私權聲明、以下相關告知事項、或與個人資料保護有關之相關事項有任何疑問，可以和 捷比童裝客服中心聯絡， 捷比童裝將儘快回覆說明。
      </p>
    </section>
    <section>

      <div class="straightTab straightTab_odd">
        <h5>適用範圍<i class="btr bt-plus bt-sm"></i></h5>
      </div>
      <div class="tabContent">
        <p>
          捷比童裝隱私權聲明及其所包含之告知事項，僅適用於 捷比童裝所擁有及經營的網站。 捷比童裝網站內可能包含許多連結、或其他合作夥伴及個別開店店家所提供的商品或服務，關於該等連結網站、合作夥伴網站或個別開店店家之網路店家的隱私權聲明及與個人資料保護有關之告知事項，請參閱各該連結網站、合作夥伴網站或個別開店店家之網路店家。
        </p>

      </div>

      <div class="straightTab">
        <h5>個人資料蒐集之目的與類別<i class="btr bt-plus bt-sm"></i></h5>
      </div>
      <div class="tabContent">
        <p>
          捷比童裝為了提供電子商務服務、售後服務、履行法定或合約義務、保護當事人及相關利害關係人之權益、行銷、客戶管理與服務、以及經營合於營業登記項目或組織章程所定之業務等目的，依照各服務之性質，有可能會蒐集您的姓名、連絡方式(包括但不限於電話、E-MAIL及地址等)、為完成收款或付款所需之資料、ＩＰ位址、及其他得以直接或間接識別使用者身分之個人資料。 此外，為提升服務品質， 捷比童裝會依照所提供服務之性質，記錄使用者的IP位址、以及在 捷比童裝相關網站或APP內的瀏覽活動(例如，使用者所使用的軟硬體、所點選的網頁、下載的APP)等資料，但是這些資料僅供作流量分析和網路行為調查，以便於改善 捷比童裝相關網站的服務品質，不會和特定個人相連繫。
        </p>

      </div>

      <div class="straightTab straightTab_odd">
        <h5>個人資料的利用<i class="btr bt-plus bt-sm"></i></h5>
      </div>
      <div class="tabContent">
        <p>
          捷比童裝所蒐集的足以識別使用者身分的個人資料，都僅供 捷比童裝於其內部、依照蒐集之目的進行處理和利用，除非事先說明、或為完成提供服務或履行合約義務之必要、或依照相關法令規定或有權主管機關之命令或要求，否則 捷比童裝不會將足以識別使用者身分的個人資料提供給第三人（包括境內及境外）、或移作蒐集目的以外之使用。 捷比童裝會持續保管、處理及利用相關資料。
        </p>
        <p>
          退貨：如果您收到的商品，商品不符您所需，在 7 天鑑賞期內，您可以在 『我的帳戶 > 訂單查詢 』中，點選『我要退貨』，直接填寫相關退貨訊息，商店將與您聯絡相關退貨事宜。有關退貨注意事項，請參閱商店『購物說明』。
        </p>
      </div>

      <div class="straightTab">
        <h5>資料安全<i class="btr bt-plus bt-sm"></i></h5>
      </div>
      <div class="tabContent">
        <p>
          捷比童裝將以合於產業標準之合理技術及程序，維護個人資料之安全。
        </p>
      </div>

      <div class="straightTab straightTab_odd" >
        <h5>Cookie <i class="btr bt-plus bt-sm"></i></h5>

      </div>
      <div class="tabContent">
        <p>
          為了便利使用者， 捷比童裝網站可能會讀取儲存在使用者電腦中的cookie資料。使用者可以經由瀏覽器的設定，取消、或限制此項功能，但可能因此無法使用部份網站功能。若您想知道如何取消、或限制此項功能，請與 捷比童裝客服中心聯絡。
        </p>
      </div>

      <div class="straightTab">
        <h5>Google Analyics(分析)廣告功能<i class="btr bt-plus bt-sm"></i></h5>
      </div>
      <div class="tabContent">
        <p>
          本服務已安裝 Google Analytics (分析) 廣告功能。本功能僅用於提供 捷比童裝分析廣告投放效益及優化使用流程，如您欲停用 Google Analytics (分析) 廣告功能，建議您可參考Google所提供 不透露資訊的方式以停用該服務。
        </p>
      </div>

      <div class="straightTab straightTab_odd">
        <h5>影響<i class="btr bt-plus bt-sm"></i></h5>

      </div>
      <div class="tabContent" >
        <p>
          若您不願意提供各服務或交易所要求的相關個人資料予 捷比童裝，並同意 捷比童裝就該等個人資料依法令規定、以及本隱私權聲明及其相關告知內容為相關之個人資料蒐集、處理、利用及國際傳輸， 捷比童裝將尊重您的決定，但依照各該服務之性質或條件，您可能因此無法使用該等服務或完成相關交易， 捷比童裝並保留是否同意提供該等相關服務或完成相關交易之權利。
        </p>
      </div>

      <div class="straightTab">
        <h5>修訂之權利<i class="btr bt-plus bt-sm"></i></h5>

      </div>
      <div class="tabContent">
        <p>
          捷比童裝有權隨時修訂本隱私權聲明及相關告知事項，並得於修訂後公佈在 捷比童裝網站，不另行個別通知，您可以隨時在 捷比童裝網站上詳閱修訂後的隱私權聲明及相關告知事項。
        </p>
      </div>


    </section>


  </artile>
</div>

<script type="text/javascript" charset="utf-8">
  $(function(){
    $('.leftContent a[href*=copyright]').addClass("active");
  })
</script>