<%= stylesheet_link_tag 'css/about', :media => 'all' %>
<%= render 'layouts_partial/left_content' %>
<div class="rightContent">
  <article class="bread">
    <a href="/">首頁</a> > <%= link_to "常見問題", qa_sites_path %>
  </article>
  <artile class="aboutCenter">
    <%= image_tag "about/store.jpg"%>
    <section>

      <div class="straightTab straightTab_odd">
        <h5>訂單查詢<i class="btr bt-plus bt-sm"></i></h5>
      </div>
      <div class="tabContent">
        <p>
          有關商品的出貨進度，可在『會員中心 > 訂單查詢 』中查詢。
        </p>

      </div>

      <!--	straightTab		-------------------------------------	-->
      <div class="straightTab">
        <h5>付款方式查詢<i class="btr bt-plus bt-sm"></i></h5>
      </div>
      <div class="tabContent">
        <p>
          本店目前提供信用卡一次刷卡跟超商付款取貨二種付款方式。
        </p>
        <p>
          信用卡一次刷卡：適用每一家商店跟所有商品頁。
        </p>
        <p>
          便利商店/超商：目前僅適用有標示的商品頁，您在完成選擇取貨門市並完成訂購後，商店會將商品出貨至您指定的便利商店/超商，並以簡訊通知您前往便利商店/超商付款取貨。
        </p>
      </div>

      <!--	straightTab		-------------------------------------	-->
      <div class="straightTab straightTab_odd">
        <h5>退換貨查詢<i class="btr bt-plus bt-sm"></i></h5>
      </div>
      <div class="tabContent">
        <p>
          換貨：如果您收到的商品，有商品 瑕疵/短缺/規格不符 的狀況，在 7 天鑑賞期內，您可以在 『我的帳戶 > 訂單查詢 』中，點選『我要換貨』，直接填寫相關換貨訊息，商店將與您聯絡相關換貨事宜。有關換貨注意事項，請參閱商店『購物說明』。
        </p>
        <p>
          退貨：如果您收到的商品，商品不符您所需，在 7 天鑑賞期內，您可以在 『我的帳戶 > 訂單查詢 』中，點選『我要退貨』，直接填寫相關退貨訊息，商店將與您聯絡相關退貨事宜。有關退貨注意事項，請參閱商店『購物說明』。
        </p>
        <p>
          退款：退款方式會依您使用的付款方式退款。
        </p>

        <p>
          信用卡：如果您是信用卡付款，我們會將您的款項刷退至您當初刷卡付款的信用卡帳戶中。
        </p>

        <p>
          便利商店/超商付款取貨：如果您是使用便利商店/超商付款取貨的付款方式，請您在填寫退貨申請時，務必依退貨退款頁面，填寫正確的退款帳號資料。在商店確認商品退貨完成後，我們將於7個工作天內，退款至您的指定帳號中。
        </p>
      </div>
      <!--	straightTab		-------------------------------------	-->
      <div class="straightTab">
        <h5>尺寸問題？<i class="btr bt-plus bt-sm"></i></h5>
      </div>
      <div class="tabContent">
        <p>
          網站內所標示的碼標（衣標），並非表示身高。 年齡/身高/體重與尺寸沒有絕對關係（同年齡小朋友身高體型不全然相同）， 每個廠商衣物版子也不同，購買前請先詳閱首頁尺寸表。
        </p>
        <p>
          建議︰媽咪以家中寶貝穿的衣服測量後的尺寸，再與賣場尺寸表做比較後， 決定您所需要購買的尺寸。
        </p>
        <p>
          ※每款商品皆以平放方式丈量，但每款衣服和褲子的布料彈性與測量方式不同， 實際與誤差丈量結果正負2公分以內為正常範圍。
        </p>
      </div>

      <!--	straightTab		-------------------------------------	-->

      <div class="straightTab straightTab_odd">
        <h5>色差問題？ <i class="btr bt-plus bt-sm"></i></h5>

      </div>
      <div class="tabContent">
        <p>
          網站照片皆實品拍攝，每台電腦螢幕、解析度、品牌皆不同， 跟買家們電腦多少都會有誤差，商品實際顏色以收到為準。 <br>
          （對色差十分敏感、吹毛求疪者請勿購買）。
        </p>
      </div>

      <!--	straightTab		-------------------------------------	-->
      <div class="straightTab">
        <h5>為何滿額未享有折扣？<i class="btr bt-plus bt-sm"></i></h5>
      </div>
      <div class="tabContent">
        <p>１.滿額折扣，是指折扣後不含運費之金額。 </p>
        <p>２.商品為特賣品，不再折扣；但享滿仟免運。</p>
      </div>

      <!--	straightTab		-------------------------------------	-->
      <div class="straightTab straightTab_odd">
        <h5>商品尺寸寄錯？<i class="btr bt-plus bt-sm"></i></h5>

      </div>
      <div class="tabContent">
        <p>
          針對接獲買家反應商品尺寸寄錯，經查詢訂單資料，寄出的商品實為買家訂單點選的尺寸及顏色。 訂單成立即無法修改，請在送出訂單時仔細查看後再送出， 訂單成立後若要修改尺寸，請撥打客服電話表示"刪單"，刪單後請再重新下單， 若日後發生以上反應事項，將以訂單明細為準，查詢訂單明細實為出貨尺寸規格者，將無法以＂寄錯＂處理， 請買家自行付運費寄回訂錯的商品，包裹內寫明要退貨－原因為尺寸選錯＂並附上＂退款郵局帳戶＂， 收到寄回的商品，會儘快將退款滙入指定帳戶或選擇換貨亦須先來電詢問商品是否有貨以保留商品。
        </p>
        <p>
          若經查為本購物網站寄錯，運費將由本購物網站負擔。
        </p>
      </div>

      <!--	straightTab		-------------------------------------	-->
      <div class="straightTab">
        <h5>換貨金額計算？<i class="btr bt-plus bt-sm"></i></h5>

      </div>
      <div class="tabContent straightTab_odd">
        <p>
          不論您所購物商品當時折扣為何，換貨以買方實付金額計算，不足補差額。
        </p>
      </div>


      <!--	straightTab		-------------------------------------	-->
      <div class="straightTab straightTab_odd">
        <h5>為何我結帳時會和我算的不一樣，多了二元？<i class="btr bt-plus bt-sm"></i></h5>

      </div>
      <div class="tabContent">
        <p>
          本網站若符合折扣，其計算為單一商品先計算再合計，並非全部合計再算折扣，故單一商品計算可能遇到無條件進位（加1元） 合計時，商品若多可能會有2元左右之誤差，此為系統程式無法更改，總計金額以系統計算為準。
        </p>
      </div>


      <!--	straightTab		-------------------------------------	-->
      <div class="straightTab ">
        <h5>ATM虛擬帳號有期限嗎? 為什麼我的虛擬帳號款無法轉帳呢？<i class="btr bt-plus bt-sm"></i></h5>

      </div>
      <div class="tabContent">
        <p>
          系統產生的虛擬帳號限期為3天(含例假日）。
        </p>
        <p>
          例如繳款期限是 10/13日(週日)，10/13日的晚間11:59以前都可以轉帳。
        </p>
        <p>
          若遇到繳費期限過期，則無法使用此虛擬帳號付款，須煩請您到本網站訂單明細，重新選擇其他付款方式。
        </p>
        <table>
          <tr>
            <th>可能因素</th>
            <th>建議做法</th>
          </tr>

          <tr>
            <td>虛擬帳號輸入錯誤</td>
            <td>請在重試轉帳的時候，檢查虛擬帳號是否輸入正確</td>
          </tr>

          <tr>
            <td>匯款金額輸入錯誤</td>
            <td>請在重試轉帳的時候，檢查匯款金額是否輸入正確 ※輸入金額須與訂單上金額相符</td>
          </tr>

          <tr>
            <td>虛擬帳號繳款期限過期</td>
            <td>請至訂單明細中重新結帳付款，即可取得新的虛擬帳號</td>
          </tr>

          <tr>
            <td>銀行帳戶餘額不足</td>
            <td>請確認您的銀行帳戶中，餘額是否足夠要匯款的金額</td>
          </tr>

          <tr>
            <td>提款卡未開啟轉帳功能</td>
            <td>請聯絡您的發卡銀行洽詢辦理</td>
          </tr>

        </table>
      </div>

      <!--	straightTab		-------------------------------------	-->
      <div class="straightTab straightTab_odd">
        <h5>換貨金額計算？<i class="btr bt-plus bt-sm"></i></h5>

      </div>
      <div class="tabContent">
        <p>
          不論您所購物商品當時折扣為何，換貨以買方實付金額計算，不足補差額。
        </p>
      </div>


      <!--	straightTab		-------------------------------------	-->
      <div class="straightTab">
        <h5>電子發票說明<i class="btr bt-plus bt-sm"></i></h5>

      </div>
      <div class="tabContent">

        <h6>為何沒有收到發票?</h6>
        <p>
          根據財政部令 台財稅字第0952400194號 「電子發票實施作業要點」，自103年1月1日起，於本網站消費開立之電子發票，無實體紙本發票故不會寄送。本網站會於期限內將開立之電子發票，上傳至財政部電子發票整合服務平台留存。您可利用首最下方>客服中心>電子發票歸戶 功能，進行會員載具歸戶作業。經歸戶後的中獎發票將由「財政部電子發票整合平台」進行領獎相關通知及作業；未歸戶的中獎發票，將由本網站以簡訊通知您提供中獎發票寄送地址後，掛號寄出。(電子發票及會員載具歸戶說明，詳見<a href="https://www.einvoice.nat.gov.tw/" target="_b">財政部電子發票整合平台</a>)
        </p>

        <h6>如何索取紙本發票?</h6>
        <p>
          請寫信至servicetw@91app.com或來電02-2785-9191提供發票寄送地址。來信或來電時，請提供欲開立發票之訂單編號(TS14…共15碼)。 提醒您！如您欲改為紙本發票，發票將會重新開立，新的發票月份將為申請當月，發票號碼也將更新，恕無法以原發票號碼列印。
        </p>

        <h6>有填寫統編／抬頭的發票會寄嗎?何時會寄出?</h6>
        <p>
          打統編／抬頭的發票將在出貨日後十個工作天內寄出。
        </p>

        <h6>捐贈的發票，你們會怎麼處理?</h6>
        <p>
          根據財政部令 台財資字第1020002795號 「電子發票實施作業要點」第二十條說明，財政部電子發票整合平台應每二月為一期，於開獎日前，將買受人所捐贈之該期電子發票明細資料通知各該受捐贈機構，並由財政部電子發票整合平台於對獎後，通知受捐贈機構領獎。
        </p>

        <p>
          另，依據法令規定，已捐贈的發票無法索取紙本發票及更改捐贈對象，如有退換貨需求，本公司將會將該發票作廢。
        </p>


        <h6>發票要加打統編怎麼辦?</h6>
        <p>
          若您尚未收到發票，麻煩您到訂單查詢頁，找出該筆訂單，點選該筆訂單後的聯絡客服，並詳填您的需求，客服人員將會盡速為您處理。
        </p>
        <p>
          打統編／抬頭的發票將在出貨日後十個工作天內寄出，寄出後訂單查詢頁的發票寄送日欄位將會顯示寄出日期。
          若您已收到發票或發票已寄出，煩請於收到發票後，來信或來電，我們將提供折讓單，請您填寫折讓單後寄回，我們將為您重開發票!!
        </p>

        <h6>統編／抬頭填錯或二聯發票要改開三聯發票怎麼辦?</h6>
        <p>
          若您尚未收到發票，請寫信至servicetw@91app.com或來電02-2785-9191提供發票開立資料及寄送地址。來信或來電時，請提供欲開立或改開發票之訂單編號(TS14…共15碼)。提醒您！如您欲變更之發票，發票將會重新開立，新的發票月份將為申請當月，發票號碼也將更新，恕無法以原發票號碼列印。 若您已收到發票或發票已寄出，煩請於收到發票後，來信或來電，我們將提供折讓單，請您填寫折讓單後寄回，我們將為您重開發票!!
        </p>

        <h6>我怎麼知道發票號碼?</h6>
        <p>
          在您付款完成、商品出貨後本網站就會開立發票，您可隨時到訂單查詢頁，點入訂單明細查詢您的發票號碼。
        </p>
        <p>
          若您於訂購時選擇將發票捐贈，為了保障受贈單位的權益，捐贈發票號碼末三碼將會以*號表示。
        </p>

        <h6>何時會幫我的發票對獎?</h6>
        <p>
          每逢單月25日開獎後，將由「財政部電子發票整合平台」統一進行對獎作業，於單月28日收到「財政部電子發票整合平台」提供中獎清冊後，於訂單查詢頁「發票」顯示中獎資訊。
        </p>


        <h6>我怎麼知道我的發票中獎了?</h6>
        <p>
          每逢單月25日開獎後，將由「財政部電子發票整合平台」統一進行對獎作業，於單月28日收到「財政部電子發票整合平台」提供中獎清冊後，於訂單查詢頁「發票」顯示中獎資訊，通知方式將依消費都使用發票載具類型及載具歸戶狀態，處理方式如下：
        </p>
        <p>

          １.使用「手機條碼載具 」或「自然人憑證載具」，中獎發票將由「財政部電子發票整合平台」進行領獎相關通知及作業。
        </p>
        <p>
          ２.使用「會員載具」
          發票載具已歸戶：中獎發票將由「財政部電子發票整合平台」進行領獎相關通知及作業。
          發票載具未歸戶：中獎發票由本網站進行，每逢單月28日由「財政部電子發票整合平台」提供中獎清冊後，由本網站以簡訊通知您提供中獎發票寄送地址後，掛號寄出。
        </p>

        <h6>沒中獎的發票會寄給我嗎?</h6>
        <p>
          根據財政部令 台財資字第1020002795號 「電子發票實施作業要點」，於本網站消費開立之統一發票將不主動寄送，但需於期限內上傳至整合服務平台留存，消費者可利用財政部電子發票整合平台查詢消費紀錄。
        </p>

        <h6>可不可以把發票改成捐贈?</h6>
        <p>
          很抱歉!目前不提供這樣的服務。
        </p>
      </div>

      <!--	straightTab		-------------------------------------	-->
      <div class="straightTab straightTab_odd">
        <h5>發票電子歸戶<i class="btr bt-plus bt-sm"></i></h5>

      </div>
      <div class="tabContent">
        <p>
          <a href="https://www.einvoice.nat.gov.tw/APMEMBERVAN/membercardlogin" target="_b">會員載具歸戶</a>
        </p>
        <p>
          小提醒 :<br>
          按下會員載具歸戶，系統將自動連結至政府電子發票平台進行歸戶
          歸戶完成後，您即可在政府電子發票平台，查詢所有本店會員卡的電子發票
          已進行歸戶的電子發票，仍可在本店查詢所有的消費明細
          歸戶後的中獎發票將由財稅中心通知，本公司不再另行通知
        </p>
        <p>
          歸戶查詢 :<br>
          <a  href="https://www.einvoice.nat.gov.tw/" target="_b">財政部電子發票整合平台</a>
        <p>財稅中心24小時免費服務電話 0800-52-1988</p>
        </p>
      </div>


    </section>


  </artile>
</div>

<script type="text/javascript" charset="utf-8">
  $(function(){
    $('.leftContent a[href*=qa]').addClass("active");
  })
</script>