<%= stylesheet_link_tag 'css/about', :media => 'all' %>
<%= render 'layouts_partial/left_content' %>
<div class="rightContent">
  <article class="bread">
    <a href="/">首頁</a> > <%= link_to "商家資訊", store_sites_path %>
  </article>

  <artile class="aboutCenter">
    <%= image_tag "about/store.jpg"%>
    <section>
      <ul>
        <h4>中正店</h4>
        <li>
          05-2254780<span class="map"><i class="btr bt-map-marker bt-2x"></i></span>
        </li>
        <li>嘉義市中正路437號</li>
      </ul>
      <ul>
        <h4>民族店</h4>
        <li>
          05-2226398<span class="map"><i class="btr bt-map-marker bt-2x"></i></span>
        </li>
        <li>嘉義市民族路552號</li>
      </ul>
      <ul>
        <h4>公明店</h4>
        <li>
          05-2293769<span class="map"><i class="btr bt-map-marker bt-2x"></i></span>
        </li>
        <li>嘉義市公明路224號</li>
      </ul>
      <ul>
        <h4>興業店</h4>
        <li>
          05-2866879<span class="map"><i class="btr bt-map-marker bt-2x"></i></span>
        </li>
        <li>嘉義市興業西路368號</li>
      </ul>

      <ul>
        <h4>仁愛店</h4>
        <li>
          05-2278769<span class="map"><i class="btr bt-map-marker bt-2x"></i></span>
        </li>
        <li>嘉義市仁愛路230號</li>
      </ul>
      <ul>
        <h4>朴子店</h4>
        <li>
          05-3795638<span class="map"><i class="btr bt-map-marker bt-2x"></i></span>
        </li>
        <li>嘉義縣朴子市山通路176-2號</li>
      </ul>
      <ul>
        <h4>北港店</h4>
        <li>
          05-7823089<span class="map"><i class="btr bt-map-marker bt-2x"></i></span>
        </li>
        <li>雲林縣北港鎮民治路19-6號</li>
      </ul>
      <ul>
        <h4>中正店</h4>
        <li>
          05-2254780<span class="map"><i class="btr bt-map-marker bt-2x"></i></span>
        </li>
        <li>嘉義市中正路437號</li>
      </ul>
      <ul>
        <h4>虎尾店</h4>
        <li>
          05-6310089<span class="map"><i class="btr bt-map-marker bt-2x"></i></span>
        </li>
        <li>雲林縣虎尾鎮中正路39號</li>
      </ul>
      <ul>
        <h4>斗六店</h4>
        <li>
          05-5375069<span class="map"><i class="btr bt-map-marker bt-2x"></i></span>
        </li>
        <li>雲林縣斗六市民生南路25號</li>
      </ul>
      <ul>
        <h4>西螺店</h4>
        <li>
          05-5582169<span class="map"><i class="btr bt-map-marker bt-2x"></i></span>
        </li>
        <li>雲林縣西螺鎮建興路175號</li>
      </ul>
      <ul>
        <h4>大里店</h4>
        <li>04-24862169
          <span class="map"><i class="btr bt-map-marker bt-2x"></i></span>
        </li>
        <li>台中市大里區中興路二段97號</li>
      </ul>
      <ul>
        <h4>彰化店</h4>
        <li>
          04-7280996<span class="map"><i class="btr bt-map-marker bt-2x"></i></span>
        </li>
        <li>彰化市民族路256號</li>
      </ul>
      <ul>
        <h4>彰化店</h4>
        <li>
          04-7280996<span class="map"><i class="btr bt-map-marker bt-2x"></i></span>
        </li>
        <li>彰化市民族路256號</li>
      </ul>
    </section>
  </artile>
</div>

<script type="text/javascript" charset="utf-8">
  $(function(){
    $('.leftContent a[href*=store]').addClass("active");
  })
</script>