#content {
    max-width: 960px;
    margin: 100px auto 0 auto;

}

#content .leftContent {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-right: 2%;
}

.leftContent img {
    vertical-align: top;
}

.coinTitle {
    width: 70%;
    margin: auto;
    padding: 8px 0px;
    border-radius: 20px;
    margin-top: 20px;
    background-color: #FFC53E;
    color: white;
    font-weight: bold
}

#content .rightContent {
    width: 77.5%;
    display: inline-block;
    vertical-align: top;
}

.bread {
    padding: 13px;
    border: 1px solid #91d8ff;
    font-size: 14px;
}

.coinTab {
    width: 100%;
    font-size: 15px;
    text-align: right;
    background-color: #595757;
    margin: 20px 0px;
}

.tabItems {
    width: 20%;
    display: inline-block;
    padding: 10px 0px;
    text-align: center;
    color: white;
    cursor: pointer;
    border: none;
    background-color: #595757;
    transition: all .5s ease
}

.tabItems:hover,
.tabItems:focus {
    border: none;
    background-color: #FFC53E;
}

.coinCenter h2 {
    color: #FF91B8;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.coinCenter .acount {
    overflow-x: scroll;
}

.coinCenter table {
    width: 100%;
    min-width: 700px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.coinCenter tr:nth-child(odd) {
    background-color: #F2F2F2;

}

.coinCenter tr th {
    font-family: 微軟正黑體;
    padding: 15px 0px;
    text-align: center;
    border-bottom: solid 1px #C4C4C4;
    font-weight: bold;

}

.coinCenter tr td {
    padding: 15px 5px;
    font-family: 微軟正黑體;
    text-align: center;
    font-size: 14px;
}

.coinCenter .orderTatal {
    width: 100%;
    min-width: 640px;
    background-color: #F2F2F2;
    padding: 15px 30px;
    text-align: right;
    border-radius: 0 0 10px 10px
}

.useCoin {
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 0px 15px
}

.useCoin h3 {
    color: #4FC1FF;
    font-weight: bold;
    margin-bottom: 15px;
}

.useCoin li {
    padding: 20px 20px;
    border-bottom: 1px solid #CBCBCB;

}

.useCoin li:nth-last-child(1) {
    border-bottom: none;
}

.useCoin p {
    font-size: 14px;
    margin: 10px 0px
}

.gift {
    text-align: center;
}

.items {
    width: 24.3%;
    height: 24%;
    border: 1px solid #91d8ff;
    display: inline-block;
    text-align: center;
    margin: 0% 0% 2% 0%;
}

.gift .itemsImg {
    width: 100%;
    height: 200px;
    max-height: 24%;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;

}

.gift .itemsImg img {
    width: 100%;
    height: 100%;
}

.gift p {
    margin-bottom: 7px;
}

.gift .proTitle {
    font-weight: bold;
}

.gift .brfore {
    font-size: 14px;
    color: #B5B5B6;
}

.gift .brfore .en {
    font-size: 14px;
    color: #B5B5B6;
    font-weight: 200;
}

.gift .now {
    font-size: 14px;
    color: #B5B5B6;
}

.gift .now .en {
    font-size: 16px;
    color: #FF91B8;
    font-weight: 200;
    margin: 0px 5px;
}

@media screen and (max-width: 870px) {

    #content .leftContent {
        display: none;
    }

    #content .rightContent {
        width: 98%;
        display: block;
        vertical-align: top;
        margin-right: 1%;
        margin-left: 1%;
    }
}

@media screen and (max-width: 768px) {
    .tabItems {
        width: 32.5%;
    }
}

@media screen and (max-width: 727px) {
    .items {
        width: 30.3%;
        height: 24%;
        border: 1px solid #91d8ff;
        display: inline-block;
        text-align: center;
        margin: 0% 1% 2% 1%;
    }

}

@media screen and (max-width: 700px) {
    .straightTab span:nth-child(2) {
        width: 25%;
    }

    .straightTab span:nth-child(3) {
        width: 57%;
    }

    .aboutCenter h4 {
        width: 15%;
    }
}

@media screen and (max-width: 550px) {

    .gift .itemsImg {
        width: 100%;
        height: 170px;
    }
}

@media screen and (max-width: 460px) {
    .items {
        width: 45.3%;
        margin: 0% 1% 2% 1%;
    }

    .gift .itemsImg {
        width: 100%;
        height: 180px;
    }
}

@media screen and (max-width: 380px) {

    .gift .itemsImg {
        width: 100%;
        height: 150px;
    }
}

@media screen and (max-width: 470px) {
    .straightTab span:nth-child(2) {
        width: 35%;
        font-size: 14px;
    }

    .straightTab span:nth-child(3) {
        width: 36%;
        font-size: 14px;
        line-height: 20px;

    }

    .aboutCenter h4 {
        width: 20%;
        font-size: 14px;
    }

    .straightTab .bt-plus {
        float: right;
    }
}

