<aside class="nav sideMenu">
  <ul class="nav__list ">
    <li>
      <input id="sideMenu-1" type="checkbox" hidden/>
      <label for="sideMenu-1"><span class="btr bt-angle-right bt-sm"></span>小女童上著</label>
      <ul class="group-list">
        <li><a href="#">背心</a></li>
        <li><a href="javascript:;">短袖</a></li>
        <li><a href="javascript:;">長袖</a></li>
        <li><a href="javascript:;">襯衫</a></li>
        <li><a href="javascript:;">針織衫</a></li>
      </ul>
    </li>

    <li>
      <input id="sideMenu-2" type="checkbox" hidden/>
      <label for="sideMenu-2"><span class="btr bt-angle-right bt-sm"></span>小女下著</label>
      <ul class="group-list">
        <li><a href="javascript:;">吊帶裙</a></li>
        <li><a href="javascript:;">洋裝</a></li>
        <li><a href="javascript:;">短褲</a></li>
        <li><a href="javascript:;">群類</a></li>
        <li><a href="javascript:;">內搭褲</a></li>
        <li><a href="javascript:;">長褲</a></li>
      </ul>
    </li>

    <li>
      <input id="sideMenu-3" type="checkbox" hidden/>
      <label for="sideMenu-3"><span class="btr bt-angle-right bt-sm"></span>大女孩上著</label>
      <ul class="group-list">
        <li><a href="#">背心</a></li>
        <li><a href="javascript:;">短袖</a></li>
        <li><a href="javascript:;">長袖</a></li>
        <li><a href="javascript:;">襯衫</a></li>
        <li><a href="javascript:;">針織衫</a></li>
      </ul>
    </li>
    <li>
      <input id="sideMenu-4" type="checkbox" hidden/>
      <label for="sideMenu-4"><span class="btr bt-angle-right bt-sm"></span>大女孩下著</label>
      <ul class="group-list">
        <li><a href="javascript:;">吊帶裙</a></li>
        <li><a href="javascript:;">洋裝</a></li>
        <li><a href="javascript:;">短褲</a></li>
        <li><a href="javascript:;">群類</a></li>
        <li><a href="javascript:;">內搭褲</a></li>
        <li><a href="javascript:;">長褲</a></li>
      </ul>
    </li>

  </ul>
</aside>
<div class="right">

  <article class="bread">
    <a href="/">首頁</a> > <a href="/">可愛女童</a> > <a href="../index.html">蕾絲勾花併接條紋上衣</a>

  </article>

  <article class="products">
    <div class="detail">
      <div class="detailImg">
        <img class="mainImg" src="../assets/images/products/detail0.jpg">
        <img class="mainImg" src="../assets/images/products/detail1.jpg">
      </div>
      <form class="detailInfo" action="../cart/payment.html">
        <ul>
          <li class="proBrand">MeAnDo米果</li>
          <li class="proTitle">甜美日系蕾絲勾花拼接</li>
          <li class="proNum">商品編號：JM4097</li>
          <li class="proMoney">
            <p class="before">NT$350</p>
            <p class="after">
              <span class="en">NT$</span><span class="unit">250</span>

            </p>
            <a class="hot">夏日限定‧2件88折<i class="btr bt-angles-right bt-sm"></i></a>
          </li>

        </ul>
        <ul class="proSize">

          <li class="proColor active">
            <input style="background-image:url('../assets/images/products/color0.jpg')" type="button"></li>
          <li class="proColor">
            <input style="background-image:url('../assets/images/products/color1.jpg')" type="button"></li>
          <li class="proColor disabled">
            <input style="background-image:url(../assets/images/products/color0.jpg)" type="button" disabled></li>


          <li>
            <span class="proChart"><input type="button" value="2"></span>
            <span class="proChart"><input type="button" value="4"></span>
            <span class="proChart"><input type="button" value="6"></span>
            <span class="proChart"><input type="button" value="8"></span>
            <span class="proChart"><input type="button" value="10"></span>
            <span class="proChart disabled"><input type="button" value="2" disabled></span>

            <a href="javascript:;" class="chart">查看尺寸表</a>
          </li>
        </ul>
        <div class="number-input-area">


          <div class="btn-pill-area btn-pill-area--numbers">
            <button type="button" class="btn js-num-down" aria-controls="unique_ID">
              <span aria-hidden="true"><i class="btr bt-minus bt-sm"></i> </span>
            </button>
          </div>
          <input type="number" id="unique_ID" name="unique_ID" min="1" max="10" step="1" value="1" class="js-numbler">
          <div class="btn-pill-area btn-pill-area--numbers">
            <button type="button" class="btn js-num-up" aria-controls="unique_ID">

              <span aria-hidden="true"><i class="btr bt-plus bt-sm"></i> </span>
            </button>
          </div>

          <!-- end .btn-pill-area--numbers -->
        </div>
        <button class="button" type="submit"><i class="btr bt-shopping-cart bt-sm"></i>加入購物車</button>
      </form>
    </div>

  </article>
  <article class="infoBox">
    <div class="infoTab">
      <input id="infoPhoto" type="button" value="圖文說明">
      <input id="infoProduct" type="button" value="商品說明">
      <input id="infoSize" type="button" value="尺寸說明">
    </div>
    <div class="infoContent">
      <div class="infoPhoto">
        <img src="../assets/images/products/detail2.jpg">
        <img src="../assets/images/products/detail3.jpg">
        <img src="../assets/images/products/detail4.jpg">
        <img src="../assets/images/products/detail5.jpg">
      </div>
      <div class="infoProduct">
        <h1>商品編號【2176110】</h1>

        <h2>銷售重點</h2>
        <p class="point">適穿建議身高體重對照為平均數值，僅供參考，請實際測量常穿衣物尺寸後再選購。</p>
        <p class="fit">適穿建議數值為：身高(公分)/體重(公斤)。</p>
        <p class="Suggest">年齡/身高/體重與尺寸沒有絕對關係（同年齡身高體型不全然相同），<br>
          每個廠商衣物版子也不同，購買前請先詳閱首頁尺寸表。</p>

      </div>
      <div class="infoSize">

        <table class="pure-table">
          <thead>
          <tr>
            <th colspan="7">年齡/身高/體重與尺寸沒有絕對關係（同年齡身高體型不全然相同），

              每個廠商衣物版子也不同，購買前請先詳閱首頁尺寸表。
            </th>

          </tr>
          </thead>
          <tbody>

          <tr class="pure-table-odd">
            <td width="15%" class="th">尺寸</td>
            <td>02</td>
            <td>04</td>
            <td>06</td>
            <td>08</td>
            <td>10</td>
            <td>12</td>
          </tr>

          <tr>
            <td class="th">適合建議</td>
            <td>85/12</td>
            <td>90/14</td>
            <td>100/16</td>
            <td>100/18</td>
            <td>120/20</td>
            <td>130/23</td>

          </tr>

          <tr class="pure-table-odd">
            <td class="th">腰寬</td>
            <td>20.5</td>
            <td>21</td>
            <td>22</td>
            <td>23.5</td>
            <td>24</td>
            <td>26</td>
          </tr>

          <tr>
            <td class="th">臀寬</td>
            <td>27</td>
            <td>28</td>
            <td>29.5</td>
            <td>32</td>
            <td>33</td>
            <td>35</td>
          </tr>

          <tr class="pure-table-odd">
            <td class="th">褲長/裙長</td>
            <td>21.5</td>
            <td>22</td>
            <td>22.5</td>
            <td>24</td>
            <td>26</td>
            <td>28</td>
          </tr>

          <tr>
            <td class="th">褲襠</td>
            <td>19.5</td>
            <td>19</td>
            <td>19.5</td>
            <td>20</td>
            <td>20.5</td>
            <td>22.5</td>
          </tr>
          <tr class="pure-table-odd">
            <td class="th">鬆緊帶</td>
            <td>○</td>
            <td>○</td>
            <td>○</td>
            <td>○</td>
            <td>○</td>
            <td>○</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </article>
</div>
