<%= stylesheet_link_tag 'css/inside' %>
<%= stylesheet_link_tag 'css/products' %>
<script src="http://malsup.github.com/jquery.cycle2.js"></script>
<aside class="nav sideMenu">
  <ul class="nav__list ">
    <li>
      <input id="sideMenu-1" type="checkbox" hidden />
      <label for="sideMenu-1"><span class="btr bt-angle-right bt-sm"></span>小女童上著</label>
      <ul class="group-list">
        <li><a href="#">背心</a></li>
        <li><a href="javascript:;">短袖</a></li>
        <li><a href="javascript:;">長袖</a></li>
        <li><a href="javascript:;">襯衫</a></li>
        <li><a href="javascript:;">針織衫</a></li>
      </ul>
    </li>

    <li>
      <input id="sideMenu-2" type="checkbox" hidden />
      <label for="sideMenu-2"><span class="btr bt-angle-right bt-sm"></span>小女下著</label>
      <ul class="group-list">
        <li><a href="javascript:;">吊帶裙</a></li>
        <li><a href="javascript:;">洋裝</a></li>
        <li><a href="javascript:;">短褲</a></li>
        <li><a href="javascript:;">群類</a></li>
        <li><a href="javascript:;">內搭褲</a></li>
        <li><a href="javascript:;">長褲</a></li>
      </ul>
    </li>

    <li>
      <input id="sideMenu-3" type="checkbox" hidden />
      <label for="sideMenu-3"><span class="btr bt-angle-right bt-sm"></span>大女孩上著</label>
      <ul class="group-list">
        <li><a href="#">背心</a></li>
        <li><a href="javascript:;">短袖</a></li>
        <li><a href="javascript:;">長袖</a></li>
        <li><a href="javascript:;">襯衫</a></li>
        <li><a href="javascript:;">針織衫</a></li>
      </ul>
    </li>
    <li>
      <input id="sideMenu-4" type="checkbox" hidden />
      <label for="sideMenu-4"><span class="btr bt-angle-right bt-sm"></span>大女孩下著</label>
      <ul class="group-list">
        <li><a href="javascript:;">吊帶裙</a></li>
        <li><a href="javascript:;">洋裝</a></li>
        <li><a href="javascript:;">短褲</a></li>
        <li><a href="javascript:;">群類</a></li>
        <li><a href="javascript:;">內搭褲</a></li>
        <li><a href="javascript:;">長褲</a></li>
      </ul>
    </li>
  </ul>
</aside>
<div class="right">
  <article class="banner">
    <section class="cycle-slideshow"
             data-cycle-fx="scrollHorz"
             data-cycle-timeout="5000"
             data-cycle-pager="#bannerMenu"
             data-cycle-slides="img" >
      <a href="javascript:;"><img src="../assets/images/products/banner0.jpg" width="100%"></a>
      <a href="javascript:;"><img src="../assets/images/products/banner1.jpg" width="100%"></a>
      <a href="javascript:;"><img src="../assets/images/products/banner0.jpg" width="100%"></a>
    </section>
    <div id="bannerMenu">
    </div>
  </article>

  <article class="bread">
    <a href="../index.html">首頁</a> > <a href="../index.html">可愛女童</a>
    <div id="pager">
      <ul class="yiiPager">
        <li class="page">
          <a href="javascript:;">
            <i class="btr bt-angles-left bt-sm"></i>
          </a>
        </li>
        <li class="page">
          <a href="javascript:;">
            <i class="btr bt-angle-left bt-sm"></i>
          </a>
        </li>
        <li class="page">
          <a href="javascript:;">
            1
          </a>
        </li>
        <li class="page">
          <a href="javascript:;">
            2
          </a>
        </li>
        <li class="page">
          <a href="javascript:;">
            3
          </a>
        </li>
        <li class="page">
          <a href="javascript:;">
            4
          </a>
        </li>
        <li class="page">
          <a href="javascript:;">
            5
          </a>
        </li>
        <li class="page">
          <a href="javascript:;">
            <i class="btr bt-angle-right bt-sm"></i>
          </a>
        </li>
        <li class="page">
          <a href="javascript:;">
            <i class="btr bt-angles-right bt-sm"></i>
          </a>
        </li>
      </ul>
    </div>
  </article>

  <article class="products">
    <a href="detail.html" class="items">
      <div  class="itemsImg" style="background-image:url(../assets/images/products/product0.jpg)">
      </div>
      <p class="proNum">DonSun【JD4388】</p>
      <p class="proTitle">蕾絲勾花併接條紋上衣</p>
      <p class="proMoney">
        <span class="before en">NT$350</span>
        <span class="after">
          活動價<span class="en"><span class="nt en">NT$</span>250</span>
        </span>
      </p>
    </a>
    <a href="detail.html" class="items">
      <div  class="itemsImg" style="background-image:url(../assets/images/products/product1.jpg)">
      </div>
      <p class="proNum">DonSun【JD4388】</p>
      <p class="proTitle">蕾絲勾花併接條紋上衣</p>
      <p class="proMoney">
        <span class="before en">NT$350</span>
        <span class="after">
                           活動價<span class="en">
                                   <span class="nt en">NT$</span>250
                                </span>
                       </span>
      </p>
    </a>
    <a href="detail.html" class="items">
      <div  class="itemsImg" style="background-image:url(../assets/images/products/product3.jpg)">
      </div>
      <p class="proNum">DonSun【JD4388】</p>
      <p class="proTitle">蕾絲勾花併接條紋上衣</p>
      <p class="proMoney">
        <span class="before en">NT$350</span>
        <span class="after">
                           活動價<span class="en">
                                   <span class="nt en">NT$</span>250
                                </span>
                       </span>
      </p>
    </a>
    <a href="detail.html" class="items">
      <div  class="itemsImg" style="background-image:url(../assets/images/products/product4.jpg)">
      </div>
      <p class="proNum">DonSun【JD4388】</p>
      <p class="proTitle">蕾絲勾花併接條紋上衣</p>
      <p class="proMoney">
        <span class="before en">NT$350</span>
        <span class="after">
                           活動價<span class="en">
                                   <span class="nt en">NT$</span>250
                                </span>
                       </span>
      </p>
    </a>
    <a href="detail.html" class="items">
      <div  class="itemsImg" style="background-image:url(../assets/images/products/product5.jpg)">
      </div>
      <p class="proNum">DonSun【JD4388】</p>
      <p class="proTitle">蕾絲勾花併接條紋上衣</p>
      <p class="proMoney">
        <span class="before en">NT$350</span>
        <span class="after">
                           活動價<span class="en">
                                   <span class="nt en">NT$</span>250
                                </span>
                       </span>
      </p>
    </a>
    <a href="detail.html" class="items">
      <div  class="itemsImg" style="background-image:url(../assets/images/products/product6.jpg)">
      </div>
      <p class="proNum">DonSun【JD4388】</p>
      <p class="proTitle">蕾絲勾花併接條紋上衣</p>
      <p class="proMoney">
        <span class="before en">NT$350</span>
        <span class="after">
                           活動價<span class="en">
                                   <span class="nt en">NT$</span>250
                                </span>
                       </span>
      </p>
    </a>
    <a href="detail.html" class="items">
      <div  class="itemsImg" style="background-image:url(../assets/images/products/product7.jpg)">
      </div>
      <p class="proNum en">DonSun【JD4388】</p>
      <p class="proTitle">蕾絲勾花併接條紋上衣</p>
      <p class="proMoney">
        <span class="before en">NT$350</span>
        <span class="after">
                           活動價<span class="en">
                                   <span class="nt en">NT$</span>250
                                </span>
                       </span>
      </p>
    </a>
    <a href="detail.html" class="items">
      <div  class="itemsImg" style="background-image:url(../assets/images/products/product8.jpg)">
      </div>
      <p class="proNum">DonSun【JD4388】</p>
      <p class="proTitle">蕾絲勾花併接條紋上衣</p>
      <p class="proMoney">
        <span class="before en">NT$350</span>
        <span class="after">
                           活動價<span class="en">
                                   <span class="nt en">NT$</span>250
                                </span>
                       </span>
      </p>
    </a>
    <a href="detail.html" class="items">
      <div  class="itemsImg" style="background-image:url(../assets/images/products/product0.jpg)">
      </div>
      <p class="proNum">DonSun【JD4388】</p>
      <p class="proTitle">蕾絲勾花併接條紋上衣</p>
      <p class="proMoney">
        <span class="before en">NT$350</span>
        <span class="after">
                           活動價<span class="en">
                                   <span class="nt en">NT$</span>250
                                </span>
                       </span>
      </p>
    </a>
    <a href="detail.html" class="items">
      <div  class="itemsImg" style="background-image:url(../assets/images/products/product1.jpg)">
      </div>
      <p class="proNum">DonSun【JD4388】</p>
      <p class="proTitle">蕾絲勾花併接條紋上衣</p>
      <p class="proMoney">
        <span class="before en">NT$350</span>
        <span class="after">
                           活動價<span class="en">
                                   <span class="nt en">NT$</span>250
                                </span>
                       </span>
      </p>
    </a>
    <a href="detail.html" class="items">
      <div  class="itemsImg" style="background-image:url(../assets/images/products/product3.jpg)">
      </div>
      <p class="proNum">DonSun【JD4388】</p>
      <p class="proTitle">蕾絲勾花併接條紋上衣</p>
      <p class="proMoney">
        <span class="before en">NT$350</span>
        <span class="after">
                           活動價<span class="en">
                                   <span class="nt en">NT$</span>250
                                </span>
                       </span>
      </p>
    </a>
    <a href="detail.html" class="items">
      <div  class="itemsImg" style="background-image:url(../assets/images/products/product4.jpg)">
      </div>
      <p class="proNum">DonSun【JD4388】</p>
      <p class="proTitle">蕾絲勾花併接條紋上衣</p>
      <p class="proMoney">
        <span class="before en">NT$350</span>
        <span class="after">
                           活動價<span class="en">
                                   <span class="nt en">NT$</span>250
                                </span>
                       </span>
      </p>
    </a>
    <a href="detail.html" class="items">
      <div  class="itemsImg" style="background-image:url(../assets/images/products/product5.jpg)">
      </div>
      <p class="proNum">DonSun【JD4388】</p>
      <p class="proTitle">蕾絲勾花併接條紋上衣</p>
      <p class="proMoney">
        <span class="before en">NT$350</span>
        <span class="after">
                           活動價<span class="en">
                                   <span class="nt en">NT$</span>250
                                </span>
                       </span>
      </p>
    </a>
    <a href="detail.html" class="items">
      <div  class="itemsImg" style="background-image:url(../assets/images/products/product6.jpg)">
      </div>
      <p class="proNum">DonSun【JD4388】</p>
      <p class="proTitle">蕾絲勾花併接條紋上衣</p>
      <p class="proMoney">
        <span class="before en">NT$350</span>
        <span class="after">
                           活動價<span class="en">
                                   <span class="nt en">NT$</span>250
                                </span>
                       </span>
      </p>
    </a>
    <a href="detail.html" class="items">
      <div  class="itemsImg" style="background-image:url(../assets/images/products/product7.jpg)">
      </div>
      <p class="proNum en">DonSun【JD4388】</p>
      <p class="proTitle">蕾絲勾花併接條紋上衣</p>
      <p class="proMoney">
        <span class="before en">NT$350</span>
        <span class="after">
                           活動價<span class="en">
                                   <span class="nt en">NT$</span>250
                                </span>
                       </span>
      </p>
    </a>
    <a href="detail.html" class="items">
      <div  class="itemsImg" style="background-image:url(../assets/images/products/product8.jpg)">
      </div>
      <p class="proNum">DonSun【JD4388】</p>
      <p class="proTitle">蕾絲勾花併接條紋上衣</p>
      <p class="proMoney">
        <span class="before en">NT$350</span>
        <span class="after">
                           活動價<span class="en">
                                   <span class="nt en">NT$</span>250
                                </span>
                       </span>
      </p>
    </a>

    <div id="pager" class="center">
      <ul class="yiiPager">
        <li class="page">
          <a href="javascript:;">
            <i class="btr bt-angles-left bt-sm"></i>
          </a>
        </li>
        <li class="page">
          <a href="javascript:;">
            <i class="btr bt-angle-left bt-sm"></i>
          </a>
        </li>
        <li class="page">
          <a href="javascript:;">
            1
          </a>
        </li>
        <li class="page">
          <a href="javascript:;">
            2
          </a>
        </li>
        <li class="page">
          <a href="javascript:;">
            3
          </a>
        </li>
        <li class="page">
          <a href="javascript:;">
            4
          </a>
        </li>
        <li class="page">
          <a href="javascript:;">
            5
          </a>
        </li>
        <li class="page">
          <a href="javascript:;">
            <i class="btr bt-angle-right bt-sm"></i>
          </a>
        </li>
        <li class="page">
          <a href="javascript:;">
            <i class="btr bt-angles-right bt-sm"></i>
          </a>
        </li>
      </ul>
    </div>
  </article>
</div>